<app-header></app-header>
<app-nav></app-nav>

<main id="main" class="main">

  <section>
    <div class="espaco"></div>
    <form class="row g-12 needs-validation">
      <h3> Usuários </h3>
      <div class="col-md-3">
        <div class="col" style="min-width: 250px; max-width: 1250px;">
          <label>Nome</label>
          <input type="text" class="form-control" [(ngModel)]="filtroNome" name="filtroNome">
        </div>
      </div>

    </form>

    <div class="col-md-3 mt" style="white-space: nowrap;">
      <label for="floatingSelect">&nbsp;&nbsp;</label>
      <div class="mb-3">

        <button type="button" id="botaoNovoUsuario" class="btn btn-secondary" (click)="abrirModalNovoUsuario()"><i
            class="bi bi-person-plus-fill"></i>&nbsp;Novo</button>
        <label for="floatingSelect">&nbsp;&nbsp;</label>


        <button type="button" id="botaoFiltrar" (click)="executarPesquisaByFiltro()" class="btn btn-primary"><i
            class="bi bi-search"></i>&nbsp;Filtrar</button>

        <label for="floatingSelect">&nbsp;&nbsp;</label>
        <button type="button" id="botaoLimpar" class="btn btn-secondary" (click)="limparFiltros()"><i
            class="bi bi-brush"></i>&nbsp;Limpar</button>
      </div>
    </div>

    <div class="espacoGrande"></div>


    <table class="table table-bordered" id="excel-table">
      <thead>
        <tr>
          <th scope="col" style="text-align: center">Nome</th>
          <th scope="col" style="text-align: center">E-mail</th>
          <th scope="col" style="text-align: center">Açoes</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let usuario of listaUsuarios  | paginate: {itemsPerPage: 10, currentPage: paginaInicial, id:'2' }; let i = index">
          <td style="text-align: center">{{usuario.nome}}</td>
          <td style="text-align: center">{{usuario.email}}</td>

          <td
          style="min-width: 100px !important; max-width: 100px !important; text-align: center; white-space: nowrap; cursor: pointer;">

          <a title="Editar" (click)="editarUsuario(usuario)">
            <i class="bi bi-pencil-fill" style="font-size: 25px;  margin-right: 15px"></i>
          </a>

          <a title="Personagens" (click)="abrirModalVisualizarPersonagens(usuario)">
            <i class="bi bi-person-lines-fill" style="font-size: 25px; margin-right: 15px"></i>
          </a>

          <a title="Excluir" (click)="removerUsuario(usuario)">
            <i class="bi bi-trash-fill" style="font-size: 25px; margin-right: 15px"></i>
          </a>

        </td>

        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="paginaInicial = $event" previousLabel="Anterior" nextLabel="Próxima" id="2">
    </pagination-controls>

  </section>


</main>


<!--Modal novo usuario personagem-->
<div class="modal fade modalCriarFundo" id="modalNovoUsuario" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2> Usuário </h2>
        <a type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal" aria-label="Close"
          (click)="fecharModalNovoUsuario()"></a>
      </div>

      <div class="modal-body">

        <div class="espaco"></div>
        <form class="row g-6 needs-validation" #form="ngForm" (ngSubmit)="salvarNovoUsuario()">
          <div class="col-md-4">
            <div class="col" style="min-width: 250px; max-width: 1250px;">
              <label>Nome</label>
              <input type="text" class="form-control" [(ngModel)]="usuarioEdicao.nome" name="nome" required (ngModelChange)="verificarCamposPreenchidos()">
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="col" style="min-width: 250px; max-width: 1250px;">
              <label>E-mail</label>
              <input type="text" class="form-control" [(ngModel)]="usuarioEdicao.email" name="email" required (ngModelChange)="verificarCamposPreenchidos()" >
            </div>
          </div>
        
          <!--  mask="A*@A*.SSS" [clearIfNotMatch]="true" placeholder="example@domine.com" -->
   
          <div class="col-md-4">
            <div class="col" style="min-width: 250px; max-width: 1250px;">
              <label>Senha</label>
              <input type="password" class="form-control" [(ngModel)]="usuarioEdicao.senha" name="senha" required (ngModelChange)="verificarCamposPreenchidos()">
            </div>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="salvarNovoUsuario()" [disabled]="!camposPreenchidos">Salvar</button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="fecharModalNovoUsuario()">Cancelar</button>

      </div>
    </div>
  </div>
</div>
<!--Modal novo usuario FIM-->


<!--Modal listar personagens -->
<div class="modal fade modalCriarFundo" id="modalVisualizarPersonagens" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2> Personagens </h2>
        <a type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal" aria-label="Close"
          (click)="fecharModalNovoUsuario()"></a>
      </div>
      <table class="table table-bordered" id="excel-table">

        <thead>
          <tr>
            <th scope="col" style="text-align: center">Nome</th>
            <th scope="col" style="text-align: center">Classe</th>
            <th scope="col" style="text-align: center">Raça</th>
            <th scope="col" style="text-align: center">Fortitude</th>
            <th scope="col" style="text-align: center">Reflexo</th>
            <th scope="col" style="text-align: center">Vontade</th>
            <th scope="col" style="text-align: center">Nível</th>
            <th scope="col" style="text-align: center">Vida atual</th>
            <th scope="col" style="text-align: center">% vida atual</th>

          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let personagem of listaPersonagens  | paginate: {itemsPerPage: 10, currentPage: paginaInicial, id:'2' }; let i = index">
            <td style="text-align: center">{{personagem.nome}}</td>
            <td style="text-align: center">{{personagem.descricaoClasse}}</td>
            <td style="text-align: center">{{personagem.descricaoRaca}}</td>
            <td style="text-align: center">{{personagem.fortitude}}</td>
            <td style="text-align: center">{{personagem.reflexo}}</td>
            <td style="text-align: center">{{personagem.vontade}}</td>
            <td style="text-align: center">{{personagem.nivel}}</td>
            <td style="text-align: center">{{personagem.vidaAtual}}</td>
            <td style="text-align: center"
              [ngStyle]="{'color': (personagem.vidaTotal ? personagem.vidaAtual / personagem.vidaTotal * 100 : personagem.vidaAtual / 1) > 50 ? 'green' : 'red'}">
              {{(personagem.vidaTotal ? personagem.vidaAtual / personagem.vidaTotal * 100 : personagem.vidaAtual /
              1) | number: '1.2-2' }} %
            </td>
  
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="paginaInicial = $event" previousLabel="Anterior" nextLabel="Próxima" id="2">
      </pagination-controls>
    
  </div>
</div>
</div>
<!--Modal listar personagens FIM-->

