<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/home">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/personagens">
                <i class="bi bi-person-lines-fill"></i>
                <span>Personagens</span>
            </a>
        </li>

        <!-- <li *ngIf="idPerfilPermissao==4" class="nav-item">
            <a class="nav-link collapsed" routerLink="/usuarios">
                <i class="bi bi-person"></i>
                <span>Personagens</span>
            </a>
        </li>  -->

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/classes">
                <i class="bi bi-mortarboard-fill"></i>
                <span>Classes</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/racas">
                <i class="bi bi-fingerprint"></i>
                <span>Raças</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/tendencias">
                <i class="bi bi-signpost-split"></i>
                <span>Tendências</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/acompanhamentos">
                <i class="bi bi-bar-chart-steps"></i>
                <span>Habilidade</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/usuarios">
                <i class="bi bi-fingerprint"></i>
                <span>Usuários</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="javascript:void(0)" (click)="logout()">
                <i class="bi bi-box-arrow-left"></i>
                <span>Sair</span>
            </a>
        </li>

    </ul>

</aside>