<app-header></app-header>
<app-nav></app-nav>

<main id="main" class="main">

    <div class="pagetitle">
        <br>
        <h1>Home</h1>
    </div>

    <p class="subTitulo"><br>Personagens<br></p>
    <section class="section">
        <div class="col-lg-12">
            <div class="row">
                <ul class="cbp_tmtimeline">
                    <li *ngFor="let retorno of listaPersonagens" class="click" (click)="atalho(retorno)">
                        <div class="cbp_tmicon bg-green"> <i class="bi bi-person"></i></div>
                        <div class="cbp_tmlabel custom-item">
                            <h2><b>Nome:</b> {{retorno.nome}}</h2>
                            <h2><b>Classe:</b> {{retorno.descricaoClasse}}</h2>
                            <h2><b>Raça:</b> {{retorno.descricaoRaca}}</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>