.ajusteTamFonte{
    font-size: 0.95em;
    /*Não quebra linha*/
    white-space: nowrap;
}

.perm{
    padding: 40px 1em 0 1em;   
    font-size: 14px !important;
}



   @media only screen and (max-width: 480px) {
    #x{ 
      display: none !important; 
    } 
  } 